<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <header>
      <% include ./partials/_header %>

      <!--
      <pre><%= JSON.stringify(urls, null, '\t') %>
      -->
      <!-- </pre> -->

      <ul>
      <% for(let id in urls) {
        let url = urls[id]; %>
        <li>
          <a href="/urls/<%= id %>"><%= url %>/<%= id %>
          <a>

          <form method="POST" action="/urls/<%= id %>/delete">
          <input type="submit" value="Delete"></form>
        </li>
        <%
      }
      %>
    </ul>




    </header>
    <!-- <h1>THIS IS A TEST</h1>  -->
</body>
</html>